@font-face {
	font-family: "Core Sans C 15";
	src: url("~/public/fonts/core_sans_c/CoreSansC-15Thin.eot");
	src: local("Core Sans C 15 Thin"), local("CoreSansC-15Thin"), url("~/public/fonts/core_sans_c/CoreSansC-15Thin.eot?#iefix") format("embedded-opentype"), url("~/public/fonts/core_sans_c/CoreSansC-15Thin.woff2") format("woff2"), url("~/public/fonts/core_sans_c/CoreSansC-15Thin.woff") format("woff"), url("~/public/fonts/core_sans_c/CoreSansC-15Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Core Sans C 65";
	src: url("~~/public/fonts/core_sans_c/CoreSansC-65Bold.eot");
	src: local("Core Sans C 65 Bold"), local("CoreSansC-65Bold"), url("~/public/fonts/core_sans_c/CoreSansC-65Bold.eot?#iefix") format("embedded-opentype"), url("~/public/fonts/core_sans_c/CoreSansC-65Bold.woff2") format("woff2"), url("~/public/fonts/core_sans_c/CoreSansC-65Bold.woff") format("woff"), url("~/public/fonts/core_sans_c/CoreSansC-65Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Core Sans C 55";
	src: url("~/public/fonts/core_sans_c/CoreSansC-55Medium.eot");
	src: local("Core Sans C 55 Medium"), local("CoreSansC-55Medium"), url("~/public/fonts/core_sans_c/CoreSansC-55Medium.eot?#iefix") format("embedded-opentype"), url("~/public/fonts/core_sans_c/CoreSansC-55Medium.woff2") format("woff2"), url("~/public/fonts/core_sans_c/CoreSansC-55Medium.woff") format("woff"), url("~/public/fonts/core_sans_c/CoreSansC-55Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Core Sans C 35";
	src: url("~/public/fonts/core_sans_c/CoreSansC-35Light.eot");
	src: local("Core Sans C 35 Light"), local("CoreSansC-35Light"), url("~/public/fonts/core_sans_c/CoreSansC-35Light.eot?#iefix") format("embedded-opentype"), url("~/public/fonts/core_sans_c/CoreSansC-35Light.woff2") format("woff2"), url("~/public/fonts/core_sans_c/CoreSansC-35Light.woff") format("woff"), url("~/public/fonts/core_sans_c/CoreSansC-35Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Core Sans C 45";
	src: url("~/public/fonts/core_sans_c/CoreSansC-45Regular.eot");
	src: local("Core Sans C 45 Regular"), local("CoreSansC-45Regular"), url("~/public/fonts/core_sans_c/CoreSansC-45Regular.eot?#iefix") format("embedded-opentype"), url("~/public/fonts/core_sans_c/CoreSansC-45Regular.woff2") format("woff2"), url("~/public/fonts/core_sans_c/CoreSansC-45Regular.woff") format("woff"), url("~/public/fonts/core_sans_c/CoreSansC-45Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
